body {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

/*Header CSS located below*/

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  align-items: center;
}

.logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

.header a {
  display: inline-block;
  text-decoration: underline;
  color: seashell;
  padding: 15px;
  opacity: 0.9;
}

.navigation {
  display:flex;
  margin-left: auto;
}

/* Mission CSS Below */

.mission {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url(../images/mission_background.jpg);
}

.missionbar {
  display: flex;
  height: auto;
  width: 100%;
  background-color: black;
  flex-direction: column;
  color: seashell;
  text-align: center;
}

/* Tea of the Month CSS Below */

.teamonth {
  text-align: center;
  height: auto;
  width: auto;
  padding-top: 50px;
}

.teagallery {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1000px;
  height: auto;
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 15px;
}

.teaname {
  font-weight: bold;
}

.tea1 {
  padding: 10px;
}

.tea1 img {
  display: block;
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.tea2 {
  padding: 10px;
}

.tea2 img {
  display: block;
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.tea3 {
  padding: 10px;
}

.tea3 img {
  display: block;
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.tea4 {
  padding: 10px;
}

.tea4 img {
  display: block;
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

.tea5 {
  padding: 10px;
}

.tea5 img {
  display: block;
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

/* Locations CSS Below */

.locations {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 500px;
  width: 1200px;
  padding-top: 70px;
  background-image: url(../images/background.jpg);
  align-items: center;
  justify-content: space-around;
}

.downtown {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  padding-right: 40px;
}

.bayside {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  padding-right: 40px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

/* Contact Information */

.contact {
  height: 200px;
}

/* Footer CSS */

.footer {
  text-align: left;
  padding-left: 10px;
}
