body {
  margin: 0;
  background-color: black;
}

/*Header CSS located below*/

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  align-items: center;
}

.logo {
  display: flex;
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

.header a {
  display: inline-block;
  text-decoration: underline;
  color: seashell;
  padding: 15px;
  opacity: 0.9;
}

.navigation {
  display:flex;
  margin-left: auto;
}

/*Body CSS Located Below*/

.mission {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url(../images/mission_background.jpg);
}

.missionbar {
  position: absolute;
}
